<div class="flex h-screen w-full flex-col items-center justify-center gap-y-2">
    <div class="w-[300px] rounded-xl border border-gray-200 bg-white py-4 px-2 shadow-md shadow-gray-100">
        <div class="flex items-center justify-between px-2 text-base font-medium text-gray-700">
            <div>Add Block</div>
            <div>
                <button class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-black">
                    <svg class="h-5 w-5" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2.5"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex max-h-[400px] w-full flex-col overflow-y-scroll">
                <button
                    class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
                    <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
                        <span
                            class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">A</span>
                    </div>
                    <div class="flex flex-col items-start justify-between font-light text-gray-600">
                        <p class="text-[15px]">Text</p>
                        <span class="text-xs font-light text-gray-400">just start writing with plain text</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>